@import '~spectre.css/dist/spectre.css';
@import '~spectre.css/dist/spectre-exp.css';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #161824;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.Section h3,h4,h5,h6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Section p {
  letter-spacing: 1px;
  color: #CCCCCC;
}

.Section {
  padding: 0px 15px;
}

.Section-control {
  padding: 5px;
}

.Section-editor {
  height: 480px;
}

.Section-weeks {
  margin-top: 50px;
}

span.Section-week {
  font-weight: 700;
  font-size: 0.95em;
  text-transform: uppercase;
  color: white;
}

.Section-visualizer h6 {
  font-size: 1em;
}

.Section-visualizer pre {
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 1.2em;
  margin: 0 0 0 10px;
}

.Section-visualizer-frame  {
  margin-top: 20px;
}

.Section-visualizer-frame .accordion-header {
  font-family: 'Menlo', 'Consolas', monospace;
  background: #222436 !important;
  color: white;
  border-left: 5px solid #5764c6;
  border-top: 1px solid #5764c6;
}

.Section-visualizer-frame .accordion-body {
  font-family: 'Menlo', 'Consolas', monospace;
  color: white !important;
  padding: 0 10px;
  background: #454d5d;
}

.Section-visualizer-frame td {
  border-right: 1px solid #5764c6;;
  border-bottom: none;
  padding: 4px 8px;
}

.App {
  color: white;
}

.App-header {
  background-color: #272134;
  padding: 50px;
  color: #fafafa;
}

.App-intro {
  font-size: large;
}

.App-logo {
  width: 100px;
  margin: 0 auto;
}

.App-logo img {
  width: 100%;
  height: 100%;
}

.App-subtitle {
  font-size: 0.5em;
  margin-left: 0.3em;
  color: #5BFF92;
  font-weight: 700;
  text-transform: uppercase;
}

.App-subheading {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2em;
}

.App-tags {
  text-align: center;
  margin: 0 auto;
}

.App-tags.columns {
  margin: 0 auto;
}

.App-tags span.label {
  border-radius: 0;
  padding: 0.25em;
  text-align: center;
  margin: 0 5px;
}

.Section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Section-control { 
  text-align: center;
}

.Section-control button {
  margin-left: 5px;
  margin-right: 5px;
}

.Section-error div {
  padding: 5px;
  font-family: 'Menlo', 'Consolas', monospace;
}

.Section-error-line {
  font-weight: 700;
  color: #FF5B92;
}

.Section-img-container {
  display: table-cell;
  padding: 0 15px;
  margin-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  max-width: 300px;
}

.Footer {
  margin: 0 auto;
  background-color: black;
  padding: 75px 50px 50px;
  color: #cccccc;
}

.Footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}

.Footer li {
  display: inline;
  font-weight: 700;
  margin-right: 5px;
}

.Footer li:after {
  content: '.'
}

.Editor-highlight {
  position: absolute;
  z-index: 20;
  background: #454d5d;
  border-radius: 0 !important;
}

.Editor-highlight-error {
  position: absolute;
  z-index: 20;
  border-bottom: 3px dotted #FF5B92;
  border-radius: 0 !important;
}

.Footer li a {
  color: white;
}
